# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.sqlite3

# ML Models
*.pkl
*.joblib

# Uploads (agar tidak ikut ke GitHub)
backend/uploads/*
!backend/uploads/.gitkeep

# Node / React
node_modules/
frontend/dist/
frontend/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
